{% extends 'base.html' %}

{% block body %}
    <script>
        $(document).ready(function(){

            var imgfield = $('#customImage')[0];
            var current = $('#currentDP');
            current.hide();
            imgfield.onchange = function(){
                console.log("working");
                var reader = new FileReader();
                reader.onloadend = function(){
                    current[0].src =reader.result;
                    current.show();
                };
                reader.readAsDataURL(imgfield.files[0])
            }
        })
    </script>
    <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="table">
                <tr class="fieldwrapper">
                    <img id="currentDP" src="" />
                </tr>
                <tr class="fieldwrapper">
                    <td>{{ form.image.label_tag }}</td>
                    <td>{{ form.image }}</td>
                </tr>
                <tr class="fieldwrapper">
                    <td>{{ form.status.label_tag }}</td>
                    <td>{{ form.status }}</td>
                </tr>
            </table>

            <input type="submit" class="btn btn-success" vlaue="Add"/>
        </form>
{% endblock %}