{% extends 'base.html' %}
{% block head %}

{% endblock %}
{% block body %}
        <script>
        $(document).ready(function(){
            var imgfield = $('#customImage')[0];
            var current = $('#currentDP')[0];
            imgfield.onchange = function(){
                console.log("working");
                var reader = new FileReader();
                reader.onloadend = function(){
                    current.src =reader.result;
                };
                reader.readAsDataURL(imgfield.files[0])
            }
        })
    </script>
        <form method="post" enctype="multipart/form-data"  >
            {% csrf_token %}
            <table class="table">
                <tr class="fieldwrapper">
                    <td><label for="currentDP">Cureent DP</label></td>
                    <td><img name="currentDP" id="currentDP" src="{{ user.userprofile.display_picture.url }}"/></td>
                </tr>
                <tr class="fieldwrapper">
                    <td>{{ form.display_picture.label_tag }}</td>
                    <td>{{ form.display_picture }}</td>
                </tr>
                <tr class="fieldwrapper">
                    <td>{{ form.status.label_tag }}</td>
                    <td>{{ form.status }}</td>
                </tr>
                <tr class="fieldwrapper">
                    <td>{{ form.city.label_tag }}</td>
                    <td>{{ form.city }}</td>
                </tr>
                <tr class="fieldwrapper">
                    <td>{{ form.phone.label_tag }}</td>
                    <td>{{ form.phone }}</td>
                </tr>
            </table>

            <button type="submit" class="btn btn-primary">Update</button>

        </form>

{% endblock %}
