{% extends 'base.html' %}

{% block body %}

    <table class="user_list" >
            <thead >
                <tr>
                    <th>{{ title }}</th>
                </tr>
            </thead>
            {% if data.count %}
            <tbody>
                {% for followObj in data %}
                    <tr>
                        <td>
                            <img class="thumbnail" src="{{ followObj.following.userprofile.display_picture.url }}"/>
                        </td>
                        <td>
                            <a href="{% url 'accounts:user_detail' followObj.following.userprofile.id %}">{{ followObj.following.username }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            {% else %}
                <tfoot>
                    <tr>
                        <th>Not following anyone yet!!</th>
                    </tr>
                </tfoot>
            {% endif %}
        </table>
{% endblock %}