{% extends 'base.html' %}
{% block head %}
    <style>
        td{
            padding-bottom:10px;
        }
    </style>
{% endblock %}
{% block body %}
    <center>
        <div class="container">
            <form method="post">
                {% csrf_token %}
                <table class="table">
                <tr class="fieldwrapper">
                    <td>{{ form.username.label_tag }}</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr class="fieldwrapper">
                    <td>{{ form.first_name.label_tag }}</td>
                    <td>{{ form.first_name }}</td>
                </tr>
                <tr class="fieldwrapper">
                    <td>{{ form.last_name.label_tag }}</td>
                    <td>{{ form.last_name }}</td>
                </tr>
                <tr class="fieldwrapper">
                    <td>{{ form.email.label_tag }}</td>
                    <td>{{ form.email }}</td>
                </tr>
                <tr class="fieldwrapper">
                    <td>{{ form.password1.label_tag }}</td>
                    <td>{{ form.password1 }}</td>
                </tr>
                <tr class="fieldwrapper">
                    <td>{{ form.password2.label_tag }}</td>
                    <td>{{ form.password2 }}</td>
                </tr>
                </table>
                {% if errors %}
                    <p>{{ errors }}</p>
                {% endif %}
                <button type="submit" class="btn btn-success">Sign up</button>

            </form>
        </div>

    </center>

{% endblock %}
